@media all and (max-width: 1220px) {
    .conteiner {
        width: 1000px;
    }

    .footer {
        padding-top: 112px;
        padding-bottom: 58px;
        display: grid;
        grid-template-rows: 43px 56px 45px 147px 52px 136px;
        grid-template-columns: 436px 348px 1fr;
    }
}