$font-weight: 600;
$fotn-family: Inter;

.main1 {
    padding-top: 91px;

    .Pricing-plans {
        text-align: center;
        margin-bottom: 122px;
        position: relative;


        .Ellipse,
        .Ellipse2 {
            position: absolute;
            z-index: -1;
        }

        .Ellipse {
            top: 50px;
            top: -189px;
            left: -188px;
            filter: blur(40px);
        }

        .Ellipse2 {
            top: -150px;
            left: 550px;
            filter: blur(40px);
        }

        span {
            padding: 4px 12px;
            background-color: rgba(20, 99, 255, 0.1);
            color: #1463FF;
            font-family: $fotn-family;
            font-weight: $font-weight;
            font-size: 16px;
            border-radius: 16px;
        }

        h1 {
            font-family: $fotn-family;
            font-weight: 700;
            font-size: 72px;
            text-align: center;
            line-height: 120%;
            margin-top: 24px;
            margin-bottom: 56px;
        }

        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked+.slider {
            background-color: #2196F3;
        }

        input:checked+.slider:before {
            transform: translateX(26px);
        }

        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }

        label+span {
            font-family: $fotn-family;
            font-weight: 500;
            color: #7E8492;
            background-color: white;
            font-size: 20px;
            vertical-align: middle;
        }
    }

    .business-plan {
        display: flex;
        justify-content: space-between;
        padding-bottom: 128px;

        div {
            padding: 40px 24px;
            border: 1px solid #EDEDED;
            border-radius: 20px;
            position: relative;
            top: 50px;

            h5 {
                font-family: $fotn-family;
                font-weight: $font-weight;
                font-size: 24px;
                margin-top: 16px;
                margin-bottom: 8px;
            }

            h5+p {
                font-family: $fotn-family;
                font-weight: 500;
                color: #7E8492;
                margin-bottom: 24px;
            }

            h2 {
                font-family: $fotn-family;
                font-weight: $font-weight;
                font-size: 56px;
                margin-bottom: 24px;

                span {
                    font-weight: 500;
                    font-size: 16px;
                    color: #7E8492;
                }
            }

            ul {
                list-style-type: none;
                padding-left: 0;
                margin-bottom: 40px;

                li {
                    margin-bottom: 16px;
                    font-family: $fotn-family;
                    font-weight: 500;

                    img {
                        margin-right: 8px;
                    }
                }

                li:nth-of-type(5)~li {
                    text-decoration: line-through;
                    color: #7E8492;
                }

                li:first-of-type {
                    font-family: $fotn-family;
                    font-weight: 700;
                }
            }

            form {
                text-align: center;
            }

            input {
                border: 1px solid #CED1D8;
                padding: 16px 44px;
                border-radius: 30px;
                font-family: Inter;
                font-weight: 700;
                font-size: 16px;
                color: black;
                background-color: white;
                cursor: pointer;
            }


        }

        div:nth-of-type(2) {
            &>span {
                padding: 6px 12px;
                background-color: #1463FF;
                border-radius: 21px;
                color: white;
                position: relative;
                left: 150px;
            }
        }

        div:nth-of-type(3) {
            li:nth-of-type(5)~li {
                text-decoration: none;
                color: black;
            }
        }

        div:nth-of-type(2) {
            li:nth-of-type(7) {
                text-decoration: none;
                color: black;
            }
        }

        div:hover {
            transition-duration: 2s;
            background-color: #161A34;
            margin-top: -50px;
            margin-bottom: 50px;

            h2 {
                color: white;
            }

            h5 {
                color: white;
            }

            ul {
                li {
                    color: white;
                }
            }

            h2 {
                span {
                    color: white;
                }
            }
        }

        div:nth-of-type(2):hover {
            transition-duration: 2s;
            background-color: #161A34;

            li:nth-of-type(7) {
                text-decoration: none;
                color: white;
            }
        }

        div:nth-of-type(3):hover {
            li:nth-of-type(5)~li {
                color: white;
            }
        }
    }
}