.bg-color-Blog { background-color: #1D1E25; }

.main2 { padding-top: 120px; padding-bottom: 120px; display: flex; gap: 32px; }

.main2 div { display: flex; flex-direction: column; justify-items: flex-start; }

.main2 div h3 { font-family: Inter; font-weight: 600; font-size: 40px; color: white; margin-top: 24px; }

.main2 div h6 { font-family: Inter; font-weight: 500; font-size: 18px; color: #7E8492; margin-top: 24px; }

.main2 div h6:first-of-type { margin-bottom: 159px; }
