$font-weight: 600;
$font-family: Inter;

.main8 {
    padding-top: 69px;
   padding-bottom: 160px;
    .title-reviews {
        display: flex;
        justify-content: space-between;
        margin-bottom: 48px;

        h2 {
            font-family: $font-family;
            font-weight: $font-weight;
            font-size: 56px;
            color: #1D1E25;
        }

        h6 {
            font-family: $font-family;
            font-weight: 500;
            font-size: 18px;
            line-height: 32px;
            color: #7E8492;
            margin-top: 35px;
        }
    }

    .reviews {
        display: grid;
        grid-template-columns: 157px 898px 1fr;
        grid-template-rows: 64px 51px 136px 51px 1fr;

        .all-reviews {
            grid-column: 2/3;
            grid-row: 1/4;

            img {
                margin-bottom: 16px;
            }

            h3 {
                font-family: $font-family;
                font-weight: 500;
                font-size: 40px;
                color: #1D1E25;
                margin-bottom: 40px;
            }

            &>div {
                display: flex;

                h6 {
                    font-family: $font-family;
                    font-weight: $font-weight;
                    color: #1D1E25;
                    font-size: 18px;
                }
                p {
                    font-family: $font-family;
                    font-weight: 500;
                    color: #7E8492;
                    font-size: 16px;
                }
                img {
                    margin-right: 24px;
                }
            }
        }
    }
}