$font-weight: 600;
$font-family: Inter;

.main7 {
    padding-top: 60px;
    padding-bottom: 91px;

    h2 {
        font-family: $font-family;
        font-weight: $font-weight;
        font-size: 56px;
        color: #1D1E25;
        text-align: center;
        margin-bottom: 24px;
    }

    h6 {
        font-family: $font-family;
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
        color: #7E8492;
        text-align: center;
        margin-bottom: 80px;
    }

    .CAR {
        display: flex;
        justify-content: space-between;

        p {
            margin-top: 16px;
            margin-bottom: 16px;
            color: #7E8492;
        }

        &+h2 {
            font-family: $font-family;
            font-weight: $font-weight;
            font-size: 32px;
            color: #1D1E25;
            text-align: left;
        }
    }
}