$font-weight: 600;
$font-family: Inter;

.main5 {
    display: flex;
    padding-bottom: 64px;
    margin-bottom: 22px;
    p {
        font-family: $font-family;
        font-weight: $font-weight;
        font-size: 56px;
        color: #101010;
        margin-bottom: 16px;
    }

    h6 {
        font-family: $font-family;
        font-weight: 500;
        font-size: 18px;
        color: #7E8492;
        line-height: 32px;
    }
    &>div {
        margin-right: 30px;
        margin-left: 64px;
    }
    .Sponsors {
        display: flex;
        flex-direction: column;
    }
}