$font-weight: 600;
$font-family: Inter;

.main1 {
    padding-top: 90px;
    padding-bottom: 85px;
    h1 {
        font-family: $font-family;
        font-weight: 700;
        font-size: 72px;
        margin-bottom: 100px;
    }
    .map {
        display: flex;
        justify-content: space-between;
        img {
            margin-right: 30px;
        }
    }
    .contact-map {
        h5 {
            font-family: $font-family;
            font-weight: 700;
            font-size: 24px;
            margin-bottom: 8px;
        }
        p:first-of-type {
            font-family: $font-family;
            font-weight: 400;
            color: #7E8492;
            line-height: 24px;
            margin-bottom: 20px;
        }
        p:last-of-type {
            font-family: $font-family;
            font-weight: 500;
            margin-bottom: 14px;
        }
       hr {
        margin-bottom: 40px;
       }
    }
}