$font-weight: 600;
$font-family: Inter;

.main3 {
    padding: 56px 48px;
    border: 1px solid #CED1D8;
    display: inline-block;
    position: relative;
    background-color: white;
    margin-bottom: 261px;

    h6 {
        font-family: $font-family;
        font-weight: $font-weight;
        font-size: 36px;
        margin-bottom: 20px;
    }

    p {
        font-family: $font-family;
        font-weight: 400;
        font-size: 18px;
        color: #7E8492;
        margin-bottom: 48px;

        a {
            text-decoration: none;
        }
    }

    input {
        border: 1px solid #EDEDED;
        background: none;
        outline: none;
        padding: 10px 14px;
        border-radius: 8px;
        margin-top: 8px;
    }
    label {
        font-family: $font-family;
        font-size: 14px;
        font-weight: 500;
    }
    label:first-of-type, label:nth-of-type(2) {
        display: inline-block;
    }
    label:first-of-type {
        margin-right: 32px;
        margin-bottom: 24px;
    }
    label:nth-of-type(3) {
        display: block;
        margin-bottom: 32px;
        input {
            width: 100%;
        }
    }
    label:nth-of-type(4) {
        display: block;
        margin-bottom: 32px;
        input {
            width: 100%;
        }
    }
    label:nth-of-type(5) {
        display: block;
        margin-bottom: 32px;
        input {
            width: 100%;
        }
    }
    textarea {
        border: 1px solid #EDEDED;
        margin-top: 8px;
        border-radius: 8px;
        resize: none;
        width: 100%;
        height: 134px;
        padding: 10px 14px;
    }
    
    label:last-of-type+input {
        padding: 16px 44px;
        border-radius: 30px;
        border: none;
        font-family: $font-family;
        font-weight: 700;
        font-size: 16px;
        color: white;
        background-color: black;
        cursor: pointer;
    }
}
.ImageForm {
    position: absolute;
    top: 0px;
    right: -742px;
    z-index: -1;
}